@()
<header id="header-wrapper">
    <div id="isihead">
        <div id="headtitle">
            <div class="header section" id="header">
                <div class="widget header">
                    <div id="header-inner">
                        <a href="#" style="display: block"><img alt="Logo" height="79px;" width="209px;"
                            src="@routes.Assets.at("images/logo.png")" style="display: block" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="headads">
            <div class="header section" id="headerads1">
                <div class="widget HTML" id="HTML36">
                    <div class="widget-content">
                        <a href="javascript:void(0);"><img alt="Top Banner" src="@routes.Assets.at("images/topbanner_728x91.png")" /></a></div>
                    <div class="clear"></div>            
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div id="main-navigation">
            <ul class="main-menu" id="menuhlng1">
                <li class="active"><a href="#" title="Home">Home </a></li>
                <li><a href="javascript:void(0);">Download</a></li>
                <li><a href="javascript:void(0);">Portfolio</a></li>
                <li><a href="javascript:void(0);">Designer</a></li>
                <li><a href="javascript:void(0);">Dropdown</a>
                    <ul>
                        <li><a href="javascript:void(0);">Dropdown 1.0</a></li>
                        <li><a href="javascript:void(0);">Dropdown 1.1</a></li>
                        <li><a href="javascript:void(0);">Dropdown 1.2</a></li>
                        <li><a href="javascript:void(0);">Dropdown 1.3</a></li>
                        <li><a href="javascript:void(0);">Dropdown 1.4</a></li>
                    </ul>
                </li>
                @if(devblog.Application.currentUser()!=null){
                    <li><a href="javascript:void(0);">@Messages("msg.user.profile")</a>
                        <ul>
                            <li><a href="javascript:void(0);">@Messages("msg.user.profile") [@devblog.Application.currentUser().getDisplayName()]</a></li>
                            <li><a href="@routes.Frontend.logout()">@Messages("msg.signout")</a></li>
                        </ul>
                    </li>
                    <li></li>
                } else {
                    <li><a href="@routes.Frontend.login()">@Messages("msg.signin")</a>
	                    <ul>
	                        <li><a href="@routes.Frontend.login()">@Messages("msg.signin.devblog")</a></li>
	                        <li><a href="javascript:fbLogin();">@Messages("msg.signin.facebook")</a></li>
	                    </ul>
	                </li>
                    <li><a href="@routes.Frontend.register()">@Messages("msg.signup")</a></li>
                }
            </ul>
        </div>
    </div>
    <script type="text/javascript">
    //<![CDATA[
    /* Menu to drop */
    $(document).ready(function(){
        selectnav('menuhlng1', {
            label: 'Select Here ',
            nested: true,
            autoselect: false,
            indent: '-'
      });
    });
    //]]>
    </script>
    <div style="clear: both;"></div>
</header>